<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}Stork Wood Work</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,900&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<link rel="icon" href="{{ site.baseurl }}img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ site.baseurl }}css/base.css">
</head>

<body>
	<nav class="main-nav">
		<a href="#" class="logo">{% include stork.html %}</a>
		<ul class="menu">
			<li><a href="#">O mnie</a></li>
			<li><a href="#">Projekty</a></li>
			<li><a href="#">Kontakt</a></li>
		</ul>
	</nav>

	{{ content }}

	<footer class="main-footer">
		<ul class="social-media">
			<li class="social-facebook"></li>
			<li class="social-instgram"></li>
			<li class="social-pinterest"></li>
		</ul>
		<ul class="footer-menu">
			<li>Kontakt</li>
			<li>Projekty</li>
			<li>O mnie</li>
		</ul>
	</footer>

	<!-- - - - - - - - - SCRIPTS - - - - - - - - -->
	<script type="text/javascript" src="{{ site.baseurl }}js_dist/scroll_magic/ScrollMagic.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}js_dist/main.bundle.js"></script>
</body>
</html>
